@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.app {
  max-width: 1500px;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.colorTitle {
  color: whitesmoke;
  text-shadow: 3px 3px 3px rgb(65, 42, 26) ;
}
